<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<!-- Content  for the add page -->
<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h1><%=title %></h1>

      <form class="form" method="post">
        <div class="from-group">
          <label for="nameTextField">Business Contact Name</label>
          <input
            type="text"
            class="form-control"
            id="nameTextField"
            placeholder="Enter Business contact name:"
            name="contactname"
            required
          />
        </div>

        <div class="from-group">
          <label for="numberTextField">Business Contact Number</label>
          <input
            type="text"
            class="form-control"
            id="numberTextField"
            placeholder="Enter Business contact number:"
            name="contactnumber"
            required
          />
        </div>

        <div class="from-group">
          <label for="emailTextField">Email</label>
          <input
            type="text"
            class="form-control"
            id="emailTextField"
            placeholder="Enter Business contact email:"
            name="email"
            required
          />
        </div>


        <button class="btn btn-primary" type="submit">
          <i class="fas fa-edit"></i>Submit
        </button>

        <a href="/businesscontactList" class="btn btn-warning">
          <i class="fas fa-undo"></i>Cancel
        </a>
      </form>
    </div>
  </div>
</div>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
